h1, h2, h3 {
    font-family: 'Yeseva One', cursive;
}

h4, h5, h6 {
    font-family: 'Noto Serif TC', serif;
}

p {
    font-family: 'Noto Sans TC', sans-serif;
}

.yeseva {
    font-family: 'Yeseva One', cursive;
}

.serif {
    font-family: 'Noto Serif TC', serif;
}

.sans {
    font-family: 'Noto Sans TC', sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
}

ol, ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

