h2, h3 {
    font-family: 'Yeseva One', cursive;
}

h4, h5, h6 {
    font-family: 'Noto Serif TC', serif;
}

p {
    font-family: 'Noto Sans TC', sans-serif;
}

.fontPrimary {
    font-family: 'Noto Serif TC', serif;
}

.fontSecondary {
    font-family: 'Noto Sans TC', sans-serif;
}

