.logo {
  background-image: url(../images/logo-ANSWER.svg);
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 53px;
  height: 53px;
}

.headerSearchBar {
  width: 284px;
  height: 55px;
}

.headerSearchBtn {
  width: 55px;
  height: 55px;
}

.icofont-search-1 {
  font-size: 19px;
}

.icofont-ui-file, .icofont-ui-user {
  font-size: 18px;
}