.logo {
  width: 40px;
 
  @include pad {
    width: 53px;
  }
}

.headerSearchBar {
  width: 168px;
  height: 39px;

  @include pad {
    width: 284px;
    height: 51px;
  }
}

.headerSearchBtn {
  width: 39px;
  height: 39px;

  @include pad {
    width: 51px;
    height: 51px;
  }
}

.headerMenuSelect {
  a {
    &:hover {
      color: #9C9E18;
    }
  }
}

.indexRegisterBtn {
  cursor: pointer;
}

.icofont-search-1 {
  font-size: 19px;
}

.icofont-ui-file, .icofont-ui-user {
  font-size: 18px;
}