.indexBanner {
  background-image: url(../images/event/13.jpg);
  background-size: cover;
  background-position: center;
  width: 1296px;
  height: 518px;
}

.indexEventListItem {
  padding: 35px 58px;
}

.indexEventIcon {
  width: 80px;
  height: 80px;
}

.indexRecentImgBg {
  background-image: url(../images/event/04.jpg);
  background-size: cover;
  background-position: 50% 45%;
}

.indexRecentImg {
  width: 416px;
  height: 225px;
}

.indexSparklerIcon {
  width: 24px;
  height: 24px;
}